html,
body {
  margin: 0;
  height: 100%;
  background: #000;
  cursor: none;
  overflow: hidden;
}
#loader {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.8s ease;
}

#typing-text {
  color: #F65908;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 6vw, 5rem);
  font-weight: 600;
  letter-spacing: 2px;

  border-right: 3px solid #ffffff;
  padding-right: 8px;

  animation: blink 0.8s infinite;

  
}

#page-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}
#spaceCanvas {
  position: fixed;
  inset: 0;
  filter: contrast(115%) brightness(105%);
}
#cursor {
  position: fixed;
  width: 5px;
  height: 5px;
  background: #F65908;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px #F65908, 0 0 20px #F6590888, 0 0 40px #F6590844;
}

#cursor-ring {
  position: fixed;
  width: 36px;
  height: 36px;
  border: 1.5px solid #F65908aa;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99;
  transform: translate(-50%, -50%);
}

.hero {
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  backdrop-filter: blur(1px);
  text-align: center;
}

.logo-glow {
  position: absolute;
  width: 200px;
  height: 200px;

  background: radial-gradient(
    circle,
    rgba(255, 138, 0, 0.12) 0%,
    rgba(255, 138, 0, 0.04) 40%,
    transparent 75%
  );

  filter: blur(40px);
  animation: pulse 5s ease-in-out infinite;
}
@keyframes pulse {
  0%,100% {
    transform: scale(1);
    opacity: .7;
  }

  50% {
    transform: scale(1.15);
    opacity: 1;
  }
}
.logo-video {
  position: relative;
  z-index: 2;

  width: min(200px, 80vw);
  height: auto;
}

.hero h1 {
  margin: 20px 0 10px 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 600;
  letter-spacing: 1px;
  /* text-shadow:
    0 0 10px rgba(255, 138, 0, 0.3),
    0 0 30px rgba(255, 138, 0, 0.15); */
}

.hero p {
  margin-top: 15px;
  max-width: 650px;

  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.7;
  font-weight: 300;

  background: linear-gradient(
    120deg,
    #7f7f7f 0%,
    #ffffff 20%,
    #bdbdbd 35%,
    #ffffff 50%,
    #8f8f8f 70%,
    #ffffff 100%
  );

  background-size: 250% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  animation: silverShine 8s linear infinite;
}

@keyframes silverShine {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 250% center;
  }
}

.hero .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.hero .social a {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  text-decoration: none;

  color: #ffffff;

  border: 1px solid rgba(255,255,255,0.15);

  backdrop-filter: blur(10px);

  transition: all 0.35s ease;
}

.hero .social a i {
  font-size: 20px;
}

.hero .social a:hover {
  color: #F65908;

  border-color: rgba(255,138,0,0.4);

  transform: translateY(-4px);

  box-shadow:
    0 0 15px rgba(255,138,0,0.15),
    0 0 30px rgba(255,138,0,0.08);
} 


.hero .logo-img {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.hero .logo-img img {
  width: 200px;
  max-width: 100%;
  height: auto;

  opacity: 1;

  transition: all 0.4s ease;
}

@media (max-width: 768px) {
   #cursor,
  #cursor-ring {
    display: none;
  }

  body {
    cursor: auto;
  }
  .logo-video {
    width: 150px;
  }

  .hero p br {
    display: none;
  }
}